<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
    <title>Вхід</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/auth-style.css}">
</head>
<body>
	<script defer th:src="@{/js/auth-log.js}"></script>

	<div class="conteiner">
		<div class="content" style="height: 300px;">
			<div class="name-form">
				<hr/>
				<div>Вхід</div>
			</div>
			<div class="error">
				<div th:class="${param.error} ? other : hide">
					Неправильний логін чи пароль
				</div>
			</div>
			<form class="info" name="f" th:method="POST" th:action="@{/process_login}">
				<input type="text" name="username" placeholder="Логін">
				<input type="password" name="password" placeholder="Пароль">
				<input type="submit" value="Увійти">
			</form>
			<div class="to-other-auth">
				<div><p>Вперше на сайті?</p></div>
				<div><a th:href="@{/auth/reg}">Реєстрація</a></div>
			</div>
		</div>
	</div>
</body>
</html>