<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
    <title>Реєстрація</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile-style.css}">
</head>
<body>
	<div class="conteiner">
		<div class="content">
			<div class="main-info">
				<div id="profile-photo"></div>
				<div class="about-user">
					<div>Username</div>
					<div>totory@scaire.ua</div>
					<div>About me I can tell for a long time and it isn't enough becouse i want to tell big story about my intresting life. Just listen, it is really cool</div>
				</div>
				<div class="about-posts">
					<div><strong>Info about post</strong></div>
					<div>Created: <span>1</span></div>
					<div>Liked: <span>2</span></div>
					<div>Disliked: <span>3</span></div>
					<div>Commented: <span>4</span></div>
				</div>
			</div>

			<div class="my-posts">
				<div class="post">
					<div class="post-info">
						<div>Name of this post</div>
						<div>Added by you</div>
						<div>At 10:38:12 15 March 2023</div>
					</div>
					<div class="post-photo"></div>
					<div class="post-buttons">
						<span>
							<div><img src="img/like-disactioved.png"></div>
							<div><img src="img/dislike-disactioved.png"></div>
						</span>
						<div><img src="img/comment.png"></div>
					</div>
					<div class="post-comments">
						<div class="comment">
							<div class="comment-photo"></div>
							<div class="comment-body">
								<div class="comment-title">
									<div class="comment-by"><strong>Added by user</strong></div>
									<div class="comment-at"><i>At 10:38:12 15 March 2023</i></div>
								</div>
								<div  class="comment-content">Dhfhfj sjfbjf shdfbagrew skfjb sfjgfdnvb rbgkd sldkgfn selkgns fjxjvh fsadkjnvahl vaf,jb djshf djfhe djfhc fjdhru vjdhf djeuv djfuebj djsszlrub</div>
							</div>
						</div>
					</div>
				</div>
				<div class="post">
					
				</div>
				<div class="post">
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>